---
import Header from "../components/Header.astro";
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro'
---
<Layout>

    <Header/>
    <h1>Made with Astro and lots of Love.</h1>
    <a href="/">Back to Home Page</a>
    <Footer/>
</Layout>