---
import Header from '../components/Header.astro'
// import Nav from '../components/Nav'
import Layout from "../layouts/Layout.astro"


---

<Layout title='hell'>

	<Header/>
	<h1 class="text-5xl">Whats Up</h1>
	<a href="/about">About</a>
	<!-- <Nav/> -->
</Layt>
	