<footer class='p-4 text-pink-400 flex justify-center bg-gray-800'>
<p>Made by <span class='text-pink-500'><a href='https://www.linkedin.com/in/thebharatmishra' target='_blank'>Bharat Mishra</a></span></p> 

</footer>