---
import {Image} from "astro:assets";
---


<header class='flex flex-row p-4 bg-orange-600'>
<a href="/" class='flex flex-row items-center justify-start'>
    <Image src='https://astro.build/assets/press/astro-icon-light-gradient.svg' width='50' height='50' class='object-cover '  alt='astro-boomin' />
    <p class='text-3xl font-bold m-2'>Astro Boomin'</p>    
</a>

    <ul class='flex flex-row items-center font-bold mx-10 text-xl'>
        <li class='mx-5'><a href="/" class="text-teal-900 font bold">Home</a></li>
        <li class='mx-5'><a href="/about" class="">About</a></li>
        <li class='mx-5'><a href="/blog" class="">Blog</a></li>
    </ul>

</header>