---
// import { ViewTransitions } from 'astro:transitions';

import type { string } from 'astro/zod';

interface Props{
    title?: string;
    description?: string;
    image?: string;
}


const {title="Astro Boomin'",description='Here we talk about Astro.',image="https://astro.build/assets/press/astro-logo-light-gradient.svg"} = Astro.props;
---






<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<script src="https://www.retainable.io/assets/retainable/rss-embed/retainable-rss-embed.js"></script>
		<title>{title}</title>
		<!-- <ViewTransitions/> -->
	</head>
	<body class='h-screen bg-gray-500 flex justify-between flex-col'>
        <slot/>
    </body>
    </html>
    